.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-layout);
  border-bottom: 1px solid #fff;
  height: 70px;
  position: sticky;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);

  .logo {
    padding: 10px 0;
    cursor: pointer;

    span {
      font-weight: 600;
      font-size: 28px;
      text-transform: uppercase;
      background: linear-gradient(270deg, #e8ff62 10%, #05f4b4 102.06%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .nav_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 21px;

    li {
      font-weight: 600;
      padding: 5px 20px;
      letter-spacing: 1.2px;
      background: linear-gradient(270deg, #eaffe1 10%, #f4e205 102.06%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    .actives {
      border-bottom: 2px solid rgb(255, 255, 255);
    }
  }

  .nav_connect {
    padding: 10px 25px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    border: 1.5px solid #fff;
    font-size: 20px;
    transition: 0.5s;

    .anchor-link {
      color: #fff;
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &.sticky-header {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    z-index: 99;
    top: 0;
    animation: stickyHeader 1s ease forwards;
  }

  .mobile-menu-icon {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 786px) {
  .navbar {
    padding: var(--padding-layout-mobile);

    .nav_menu,
    .nav_connect {
      display: none;
    }

    .mobile-menu-icon {
      display: block;
      position: absolute;
      right: 20px;
      background-color: transparent;
      cursor: pointer;

      svg {
        font-size: 26px;
        color: #fff;
      }
    }

    .nav_link_mobile {
      position: absolute;
      display: block;
      background: linear-gradient(90deg, rgb(252 107 69) 0%, rgb(255 253 253) 50%, rgb(252 107 69) 100%);
      left: 0;
      top: 70px;
      width: 100%;
      transition: all 0.5s ease-out;
      text-align: center;

      li {
        padding: 5px 0;
        font-size: 19px;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0px);
  }
}
