.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-layout);
  border-bottom: 1px solid #fff;
  height: 70px;

  .logo {
    padding: 10px;
    cursor: pointer;

    span {
      font-weight: 600;
      font-size: 25px;
      text-transform: uppercase;
      background: linear-gradient(270deg, #c0ff62 10%, #f405e6 102.06%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .nav_menu {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 21px;

    li {
      font-weight: 600;
      padding-bottom: 5px;
      letter-spacing: 1.2px;
      background: linear-gradient(270deg, #eaffe1 10%, #f4e205 102.06%);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        color: red;
        border-bottom: 1px solid red;
        cursor: pointer;
      }
    }
  }

  .nav_connect {
    padding: 10px 25px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 20px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
