.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   margin: 20px 170px;
  padding: 10px 170px;
  border-bottom: 1px solid #fff;

  .logo {
    width: 6%;
    height: fit-content;
    cursor: pointer;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  .nav_menu {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;

    li {
      font-weight: 600;
      padding-bottom: 5px;
      letter-spacing: 1.2px;
      background: linear-gradient(270deg, #eaffe1 10%, #f4e205 102.06%);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        color: red;
        border-bottom: 1px solid red;
        cursor: pointer;
      }
    }
  }

  .nav_connect {
    padding: 15px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 20px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
