.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  min-height: 670px;
  height: fit-content;
  background-image: url("../../assets/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--padding-layout);

  h2 {
    font-weight: 500;
  }

  h1 {
    font-size: 45px;

    span {
      background: linear-gradient(270deg, #feff00 10%, #ff0000 102.06%);
      background-clip: text;
      -webkit-backdrop-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-weight: 500;
    width: 80%;
    color: darkgrey;
  }

  .button__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 22px;

    &:hover {
      cursor: pointer;
      background: linear-gradient(270deg, #df8908 10%, #b415ff 102.06%);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    padding: var(--padding-layout-mobile);

    h2 {
      font-size: 18px;
    }

    h1 {
      font-size: 28px;
    }

    p {
      width: 100%;
      font-size: 16px;
      letter-spacing: normal;
    }

    .button__hero {
      border: 1px solid #fff;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 10px;
    }
  }
}
