.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
  height: fit-content;
  background-image: url("../../assets/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--padding-layout);

  h2 {
    font-weight: 500;
  }

  h1 {
    font-size: 45px;

    span {
      background: linear-gradient(270deg, #feff00 10%, #ff0000 102.06%);
      background-clip: text;
      -webkit-backdrop-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .abcd {
    width: 100%;

    p {
      font-weight: 500;
      width: 80%;
      color: #fff;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  .button__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 22px;

    &:hover {
      cursor: pointer;
      background: linear-gradient(270deg, #df8908 10%, #b415ff 102.06%);
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    padding: var(--padding-layout-mobile);

    h2 {
      font-size: 16px;
    }

    h1 {
      font-size: 25px;
    }

    p {
      width: 100%;
      font-size: 15px;
    }

    .button__hero {
      border: 1px solid #fff;
      font-size: 15px;
      padding: 8px 12px;
      border-radius: 8px;
    }
  }
}

@media (min-width: 482px) and (max-width: 786px) {
  .hero {
    padding: var(--padding-layout-mobile);

    h2 {
      font-size: 18px;
    }

    h1 {
      font-size: 28px;
    }

    p {
      width: 100%;
      font-size: 16px;
      letter-spacing: normal;
    }

    .button__hero {
      border: 1px solid #fff;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 10px;
    }
  }
}
