.wrapper-notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
  background-image: linear-gradient(90deg, #c4c1f9, #f19c9c, #b6cef9);

  .content {
    text-align: center;

    span {
      font-size: 5.2rem;
      font-weight: 600;
      color: red;
    }

    h3 {
      letter-spacing: 1px;
      margin-bottom: 15px;
    }

    button {
      padding: 10px 20px;
      font-size: 1.8rem;
      border: 2px solid red;
      border-radius: 5px;
      width: fit-content;

      &:hover {
        cursor: pointer;
        border-color: blue;
        color: blue;
      }
    }
  }
}
