.container_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-layout);
  margin: var(--margin-layout);

  .about_sections {
    display: flex;
    width: 100%;
    gap: 40px;

    .about_left {
      height: 348px;
      width: 290px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about_right {
      display: flex;
      flex-direction: column;
      flex: 1;

      .about_para {
        margin-bottom: 10px;

        p {
          width: 100%;
          margin-bottom: 10px;
          line-height: 25px;
          font-size: 18px;
          letter-spacing: normal;
        }
      }

      .about_skills {
        .about_skill {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          transition: 0.3s;
          padding: 10px 0;

          p {
            width: 150px;
          }

          hr {
            border-radius: 10px;
            border-color: transparent;
            height: 5px;
            background: linear-gradient(270deg, #df8908 10%, #b415ff 102.06%);
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.03);
          }
        }
      }

      .btn__showmore {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
        padding: 10px 35px;
        border: 2px solid #fff;
        border-radius: 10px;

        button {
          background-color: transparent;
          color: #fff;
          font-size: 18px;
        }

        svg {
          font-size: 19px;
        }

        &:hover {
          cursor: pointer;
          background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(131, 58, 180) 100%);
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container_about {
    padding: var(--padding-layout-mobile);
    margin: var(--margin-layout-mobile);

    .about_sections {
      flex-direction: column;

      .about_left {
        display: none;
      }

      .about_right {
        .about_para {
          p {
            font-size: 16px;
          }
        }

        .about_skills {
          .about_skill {
            flex-direction: column;
            align-items: start;
            gap: 8px;

            p {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }

        .btn__showmore {
          border: 1px solid #fff;
          border-radius: 6px;
          padding: 8px 0;
          width: 100%;

          button {
            font-size: 16px;
          }
          svg {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 482px) and (max-width: 786px) {
  .container_about {
    padding: var(--padding-layout-mobile);
    margin: var(--margin-layout-mobile);

    .about_sections {
      flex-direction: column;

      .about_left {
        display: none;
      }

      .about_right {
        .about_para {
          p {
            font-size: 17px;
          }
        }

        .about_skills {
          .about_skill {
            p {
              font-size: 18px;
              width: 135px;
            }

            hr {
              height: 3px;
            }
          }
        }

        .btn__showmore {
          border: 1px solid #fff;
          border-radius: 8px;
          padding: 10px 0;
          width: 100%;

          button {
            font-size: 18px;
          }
          svg {
            font-size: 18px;
          }
        }
      }
    }
  }
}
