.container_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 170px;

  .about_title {
    position: relative;
    padding: 30px;

    span {
      font-weight: 600;
      font-size: 60px;
    }

    img {
      position: absolute;
      top: 40%;
      right: 0;
      width: 50%;
      z-index: -1;
      opacity: 0.8;
    }
  }

  .about_sections {
    display: flex;
    width: 100%;
    gap: 40px;
    height: fit-content;

    .about_left {
      height: 350px;
      width: 280px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about_right {
      display: flex;
      flex-direction: column;
      flex: 1;

      .about_para {
        p {
          font-size: 18px;
          letter-spacing: normal;
        }
      }

      .about_skills {
        .about_skill {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          transition: 0.3s;

          p {
            min-width: 150px;
            font-weight: 600;
            font-size: 18px;
          }

          hr {
            margin: 0;
            border-radius: 10px;
            border-color: transparent;
            height: 5px;
            background: linear-gradient(270deg, #df8908 10%, #b415ff 102.06%);
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.03);
          }
        }
      }
    }
  }
}
