.myworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: var(--padding-layout);
  margin: var(--margin-layout);

  .mywork__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    img {
      transition: 0.3s;
      cursor: pointer;
      width: 375px;

      &:hover {
        border: 2px solid #ff00ff;
        border-radius: 10px;
        transform: scale(1.05);
      }
    }
  }

  .mywork__showmore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 12px 30px;

    &:hover {
      cursor: pointer;
      background-color: blue;
    }
  }
}
