.myworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: var(--padding-layout);
  margin: var(--margin-layout);

  .mywork__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;

    img {
      transition: 0.3s;
      cursor: pointer;
      width: 375px;

      &:hover {
        border: 2px solid #ff00ff;
        border-radius: 10px;
        transform: scale(1.05);
      }
    }
  }

  .mywork__showmore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 12px 30px;

    img {
      width: 22px;
    }

    &:hover {
      cursor: pointer;
      background-color: blue;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .myworks {
    padding: var(--padding-layout-mobile);
    margin: var(--margin-layout-mobile);

    .mywork__container {
      grid-template-columns: 1fr;
      width: 100%;
      gap: 15px;

      img {
        width: 100%;
      }
    }

    .mywork__showmore {
      padding: 8px 0;
      border: 1px solid #fff;
      width: 100%;

      p {
        font-size: 16px;
      }

      img {
        width: 16px;
      }
    }
  }
}

@media (min-width: 482px) and (max-width: 786px) {
  .myworks {
    padding: var(--padding-layout-mobile);
    margin: var(--margin-layout-mobile);

    .mywork__container {
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      img {
        width: 100%;
      }
    }

    .mywork__showmore {
      padding: 10px;
      border: 1px solid #fff;

      p {
        font-size: 17px;
      }

      img {
        width: 17px;
      }
    }
  }
}
